h1{
    color: green;
    letter-spacing: 10px;
    word-spacing: 20px;
    text-align: center;
}

h2{
    text-decoration: overline;
    writing-mode: vertical-lr;
}

h3{
    text-decoration: line-through;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h4{
    
    text-decoration: underline;
    font-family: "Fresh lemonade";
    color: blue !important;

}


@font-face {
    font-family: "Fresh lemonade";
    src: url(url(Fresh Lemonade - Personal Use.otf));

}

#normalText{
    font-style:normal;
}
#italicText{
    font-style: italic;
}
#obliqueText{
    font-style: oblique;
}