@media(min-width: 600px){
        body{
            background-color: lightblue;
            color: black;
        }
    }
@media(max-width: 600px){
        body{
            background-color: rgb(144, 103, 160);
            color: rgb(165, 117, 117);
        }
    }


@media(min-width: 500px) and (max-width: 800px){
        img{
            display: none;
        }
    }
    @media(min-width: 800px){
        p{
            column-count: 2;
        }
    }

    @media print{
        body{
            background-color: transparent;
            
        }
    }

    @media(min-width: 600px) {
        p{
            font-size: 12px;
        }
    }