* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.hero {
    background-color: #87509c; 
    min-height: 80vh;
    color: white;
    padding: 40px 10%;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.logo {
    font-size: 32px;
    font-weight: bold;

}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
}